<nav class="justify-content-center">
        <ul class="row justify-content-around">
            <a href="/home" class="link">
                <li>Feed</li>
            </a>
            <a href="/create-post" class="link">
                <li class="margin">Create A Review</li>
            </a>
            <a href="/profile" class="link">
                <li>Profile</li>
            </a>
        </ul>
    </nav>