<!-- CREATE ACCOUNT PAGE CONTENT TO GO IN THE {{{ body }}}-->
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <h1>Join To Add A Review</h1>
      </div>
    </div>
    <div class="row">
      <!-- START OF div column container for the login FORM/Input -->
      <!-- define a border for this part -->
      <div class="col-sm-12  col-md-12 col-lg-3 d-flex justify-content-center"></div>
      <div class="col-sm-12  col-md-12 col-lg-6 d-flex justify-content-center">
        <!-- Login Title with row and column !!! NO BORDER !!!! -->
        <div class="oBox">
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <h2>Create Account</h2>
            </div>
          </div>

 <div class="row">
            <div class="col-12 d-flex justify-content-center">

              <!-- start of Nessted login input field -->
                <div class="row">
                  <div class="box">
                    <div class="col-12 justify-content-center">
                      {{!-- <label for="username" class="form-label">Username</label> --}}
                      <Input class="fullFormLite createLOGIN" id="username" placeholder="Choose a Username"></Input>
                    </div>
