<body>

	<head>
		<link rel="stylesheet" href="../../public/stylesheets/styles.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	</head>

<!-- Page Title -->
<!-- <div class="row">
    <div class="col-12 d-flex justify-content-center">
        <h1>Create a Handle</h1>
    </div>
</div> -->

<div class="main content post-card">
    <div class="subject container">
        <form>
            <label for="title">What are you reviewing?</label>
            <input type="text" placeholder="Name" name="title" id="title" class="title" />

            <label for="review">What did you think?</label>
            <input type="text" placeholder="Give us your thoughts" name="review" id="review" class="review-review" />

            <label for="url">What is the link for a trailer for this film?</label>
            <input type="text" placeholder="Link" name="post_url" id="post_url" class="post_url" />

            <button type="submit" id="newPost">Submit</button>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).on("click", "#newPost", function () {
        
        let newPost = {
            title: $("#title").val(),
            review: $("#review").val(),
            post_url: $("#post_url").val()
        };

            console.log(newPost);

        $.ajax({
            url: "/api/posts",
            method: "POST",
            data: newPost
        }).then(function(response) {
            console.log(response);
            window.location = "/posts";
        })
    })
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>

<script>

    gsap.from('.create-card', { opacity: 0, duration: 1.25, y: 26, ease: 'Power2.ease' })
    // gsap.from("div", {duration: 1.25, scale: .33, ease: "expoScale(1, 2)"});	
    // gsap.from(".create-card", {duration: 1.25, y: -500, ease: "slow"});
    </script>


</body>