body {
    background-image: url(../assets/background.jpg);
}

header {
    background-image: url("../assets/background.jpg");
    background-color:rgba(0, 0, 0, .99);
    height: 200px;
    display: block;
    position: relative;
}

nav {
    font-size: large;
    font-weight: 700;
    color: white;
    background-color:black;
    height: 6vh;
    padding: 10px;
}

ul {
    list-style-type: none;
}

img {
    border-radius: 100px;
}

.bold {
    font-weight: 900;
}

.link {
    color: grey;
}

.link:hover {
    text-decoration: none;
    color: inherit
}

.data-card {
    color: white;
    padding: 25px;
    border-style: solid;
    border-width: thin;
    border-color: rgba(0, 0, 0, 1);
    background-color:rgba(0, 0, 0, .99);
    /* border-radius: 15px; */
}

.profile-card {
    height: 95vh;
    color: white;
    padding: 25px;
    border-style: solid;
    border-width: thin;
    border-color: rgba(0, 0, 0, 1);
    background-color:rgba(0, 0, 0, .98);
}

.create-card {
    height: 100vh;
    color: white;
    padding: 25px;
    border-style: solid;
    border-width: thin;
    border-color: rgba(0, 0, 0, 1);
    background-color:rgba(0, 0, 0, .98);
}

.login-create {
    margin-top: 200px;
}

.feed-card {
    /* margin-top: -16; */
    height: 95vh;
    color: white;
    padding:25px;
    border-style: solid;
    border-width: thin;
    border-color: rgba(0, 0, 0, 1);
    background-color:rgba(0, 0, 0, .95);
}

.feed-item {
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(10, 10, 10, .95);
}

.post-card{
    height: 950px;
    color: white;
    padding: 25px;
    border-style: solid;
    border-width: thin;
    border-color: rgba(0, 0, 0, 1);
    background-color:rgba(0, 0, 0, 0.98);
}

.Followers {
    margin-top: 25;
    font-weight: 700;
    color: white;
}

.Following {
    margin-top: 25;
    font-weight: 700;
    color: white;  
}

.Followers:hover {
    text-decoration: none;
    color: grey
}

.Following:hover {
    text-decoration: none;
    color: grey
}

.followers-number {
    background-color: grey;
    color: black;
    padding: 15;
    font-weight: 900;
    border-radius: 50px;
}
.following-number {
    background-color: grey;
    color: black;
    padding: 15;
    font-weight: 900;
    border-radius: 50px;
}

.review-review {
    height: 200px;
    width: 500px;
}

input {
    text-align: center;
}

input:focus {
    outline-width:0;
}

button {
    outline: none;
    color: white;
    border: none;
    height: 33px;
    width: 100px;
    background-color: red;
}
button:focus {
    outline:none !important;
}

button:hover {
    background-color: rgba(255, 0, 0, 0.671);
}

#memlink {
    color: white;
    text-decoration: none;
}

#memlink:hover {
    color: grey;
}