<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>Document</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark">
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="d-flex justify-content-end">
					<div class="navbar-nav">
						<a>Search</a>
						<a>Create Account</a>
						<a>Login</a>
						<a>Logout</a>
						<a class="nav-link memberButton"><i class="fas fa-user"><span> </span>Profile</i></a>
					</div>
				</div>
			</div>
      </nav>
  {{{ body }}}
</body>
</html>
